@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,100&display=swap');

*{
    font-family: Roboto, sans-serif;
    
}
body{
    background-color: rgb(197, 185, 170);
}

.container{
    
    background-color:#7fffd4 ;
    box-shadow: 2px 2px 2px black;
    width: 450px;
    padding: 15px;
    margin: 0 auto;
    
}

.dform{
    margin-top: 20px;
}

.alinhar{
    display: inline-block;
    width: 250px;
}

.voltar{
    display: block;
    width: 60px;
    
}
